.error {
  font-weight: 600;
  color: red;
}

.gradient-container {
  background: linear-gradient(to bottom, #035787, #01172C);
  height: fit-content;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(236, 236, 236);
}

.header .logo {
  display: flex;
  align-items: center;
}
.header .logo img {
  width: 3.5em;
  height: 3.5em;
  margin-top: 0.5em;
  margin-right: 2em;
}

@media screen and (min-width: 992px) {
  header .header {
    padding: 2em 7em;
  }
  header .menu-link {
    padding: 0 4em;
    margin-top: 2.3em;
    list-style-type: none;
    font-size: 1.1em;
    font-weight: 700;
    color: white !important;
    text-decoration: none;
  }
  header .menu-link .dropdown-item {
    color: white !important;
    /* Set your desired text color for dropdown items */
  }
  header .menu-visible {
    display: block;
  }
  header a {
    color: white;
    text-decoration: none;
  }
  .dropdown {
    position: relative;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    padding: 1em 3em;
    width: 17em;
    top: 95%;
    left: 1em;
    background-color: inherit;
    border: none;
    border-bottom: 0.5px solid #78BEFF;
    z-index: 2;
  }
}
.startpage {
  padding-bottom: 15em;
}
.startpage h1 {
  font-size: 4em;
  color: #78BEFF;
  font-weight: 700;
}
.startpage span {
  color: #EDEDED;
  font-weight: 700;
}
.startpage li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.startpage li:hover {
  color: #EDEDED;
}
.startpage button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}
.startpage button:hover {
  background-color: #468ED2;
  border: none;
}
.startpage button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.startpage button:focus {
  background-color: #468ED2;
  border: none;
}
.startpage button:disabled {
  background-color: #468ED2;
  border: none;
}

.createuserform * {
  margin: 1em 0;
}

.button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}
.button:hover {
  background-color: #468ED2;
  border: none;
}
.button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.button:focus {
  background-color: #468ED2;
  border: none;
}
.button:disabled {
  background-color: #468ED2;
  border: none;
}

.createuserwrapper {
  max-width: 30em;
  margin: 0 auto;
  padding: 4em 0 0 0;
}
.createuserwrapper .input {
  height: 3.4em;
}
.createuserwrapper li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.createuserwrapper li:hover {
  color: #EDEDED;
}
.createuserwrapper h2 {
  font-size: 2em;
  color: #78BEFF;
  font-weight: 700;
}

.createplanwrapper {
  max-width: 40em;
  margin: 0 auto;
  padding-bottom: 1.5em;
}
.createplanwrapper .plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2em;
}
.createplanwrapper .plans .disabled-plan {
  opacity: 0.5 !important;
  cursor: not-allowed;
}
.createplanwrapper .plans article {
  max-height: 20em;
  height: 20em;
  max-width: 17em;
  background-color: white;
  font-size: 1em;
  padding: 1.2em;
}
.createplanwrapper .plans article h3 {
  font-size: 1.8em;
  font-weight: 900;
}
.createplanwrapper .plans article p {
  font-size: 0.8em;
}
.createplanwrapper .plans article p span {
  font-style: italic;
  font-weight: 600;
}

.signinuserform * {
  margin: 1em 0;
}

.button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}
.button:hover {
  background-color: #468ED2;
  border: none;
}
.button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.button:focus {
  background-color: #468ED2;
  border: none;
}
.button:disabled {
  background-color: #468ED2;
  border: none;
}

.signinuserwrapper {
  max-width: 30em;
  margin: 0 auto;
  padding: 4em 0 3em 0;
}
.signinuserwrapper .input {
  height: 3.4em;
}
.signinuserwrapper li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
  margin-left: -4em;
}
.signinuserwrapper li:hover {
  color: #EDEDED;
}
.signinuserwrapper h2 {
  font-size: 2em;
  color: #78BEFF;
  font-weight: 700;
}

.createplanwrapper {
  max-width: 40em;
  margin: 0 auto;
}
.createplanwrapper .plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2em;
}
.createplanwrapper .plans article {
  max-height: 20em;
  height: 20em;
  max-width: 17em;
  background-color: white;
  font-size: 1em;
  padding: 1.2em;
}
.createplanwrapper .plans article h3 {
  font-size: 1.8em;
  font-weight: 900;
}
.createplanwrapper .plans article p {
  font-size: 0.8em;
}
.createplanwrapper .plans article p span {
  font-style: italic;
  font-weight: 600;
}

footer {
  height: 50vh;
  margin-top: 3em;
  border-top: solid 0.5px white;
}

.homepage {
  padding-bottom: 15em;
}
.homepage h1 {
  font-size: 4em;
  color: #78BEFF;
  font-weight: 700;
}
.homepage h6 {
  font-size: 1.6em;
  color: #EDEDED;
  font-weight: 600;
}
.homepage span {
  font-size: 0.8em;
  color: #EDEDED;
  font-weight: 700;
}
.homepage li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.homepage li:hover {
  color: #EDEDED;
}
.homepage button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}
.homepage button:hover {
  background-color: #468ED2;
  border: none;
}
.homepage button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.homepage button:focus {
  background-color: #468ED2;
  border: none;
}
.homepage button:disabled {
  background-color: #468ED2;
  border: none;
}

.newaccountingwrapper h2 {
  font-size: 2.5em;
  color: #78BEFF;
  font-weight: 700;
}
.newaccountingwrapper h5 {
  font-size: 1.5em;
  color: #EDEDED;
  font-weight: 700;
}
.newaccountingwrapper h6 {
  font-size: 1em;
  color: #EDEDED;
  font-weight: 700;
}
.newaccountingwrapper #check {
  margin: 0.9em 0 0 0.8em;
  color: #16d616 !important;
}

.newaccountingform {
  padding: 1em 0 2em 0;
}
.newaccountingform .input {
  height: 3.4em !important;
}
.newaccountingform .short {
  max-width: 30em;
  margin-bottom: 1em;
}
.newaccountingform li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.newaccountingform li:hover {
  color: #EDEDED;
}
.newaccountingform .accountings {
  display: flex;
  margin-bottom: 0.3em;
}

.allaccountingswrapper h2 {
  font-size: 2.5em;
  color: #78BEFF;
  font-weight: 700;
}
.allaccountingswrapper h5 {
  font-size: 1.5em;
  color: #EDEDED;
  font-weight: 700;
}
.allaccountingswrapper h6 {
  font-size: 1em;
  color: #EDEDED;
  font-weight: 700;
}

.allaccountingstable {
  color: #EDEDED;
}
.allaccountingstable .input {
  height: 3.4em !important;
  width: 25em !important;
}
.allaccountingstable .filter {
  height: 3.4em !important;
  width: 8em !important;
}
.allaccountingstable th {
  padding: 1em 1em 1em 0.5em;
  border-bottom: 0.5px white solid;
}
.allaccountingstable td {
  padding: 1em 1em 1em 0.5em;
}

.sheetswrapper {
  color: #EDEDED;
}
.sheetswrapper h2 {
  font-size: 2.5em;
  color: #78BEFF;
  font-weight: 700;
}
.sheetswrapper h5 {
  font-size: 1.5em;
  color: #EDEDED;
  font-weight: 700;
}
.sheetswrapper h6 {
  font-style: italic;
  font-size: 1.2em;
  color: #78BEFF;
  font-weight: 700;
}

#balancesheet {
  display: none;
}

.balance-sheet-container {
  width: 50%;
  margin: 0 auto;
}
.balance-sheet-container p {
  font-size: 0.9em;
  font-weight: 500;
  margin-left: 1em;
}
.balance-sheet-container span {
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.1em;
  margin-left: -1em;
}
.balance-sheet-container .hr {
  background-color: white;
}
/*# sourceMappingURL=maps/main.css.map */
