.error {
  font-weight: 600;
  color: red;
}

* {
  font-family: "Assistant", sans-serif;
}

.gradient-container {
  background: linear-gradient(to bottom, #035787, #01172C);
  height: fit-content;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(236, 236, 236);
}

.header .logo {
  display: flex;
  align-items: center;
}
.header .logo img {
  width: 3.5em;
  height: 3.5em;
  margin-top: 0.5em;
  margin-right: 2em;
}

@media screen and (min-width: 992px) {
  header .header {
    padding: 2em 7em;
  }
  header .menu-link {
    padding: 0 1em;
    margin-top: 2.3em;
    list-style-type: none;
    font-size: 1.1em;
    font-weight: 700;
    color: white !important;
    text-decoration: none;
  }
  header .menu-link .dropdown-item {
    color: white !important;
    /* Set your desired text color for dropdown items */
  }
  header .menu-visible {
    display: block;
  }
  header a {
    color: white;
    text-decoration: none;
  }
  .dropdown {
    position: relative;
    margin-right: 2em;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    margin-left: 0.3em;
    width: fit-content;
    position: absolute;
    top: 95%;
    background-color: inherit;
    border: none;
    border-bottom: 0.5px solid #78BEFF;
    z-index: 2;
  }
}
.startpage {
  padding-bottom: 15em;
}
.startpage h1 {
  font-size: 4em;
  color: #78BEFF;
  font-weight: 700;
}
.startpage span {
  color: #EDEDED;
  font-weight: 700;
}
.startpage li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.startpage li:hover {
  color: #EDEDED;
}
.startpage button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}
.startpage button:hover {
  background-color: #468ED2;
  border: none;
}
.startpage button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.startpage button:focus {
  background-color: #468ED2;
  border: none;
}
.startpage button:disabled {
  background-color: #468ED2;
  border: none;
}

.createuserform * {
  margin: 1em 0;
}

.createuserwrapper {
  max-width: 30em;
  margin: 0 auto;
  padding: 4em 0 0 0;
}
.createuserwrapper .input {
  height: 3em;
}
.createuserwrapper li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.createuserwrapper li:hover {
  color: #EDEDED;
}
.createuserwrapper h2 {
  font-size: 2em;
  color: #78BEFF;
  font-weight: 700;
}
.createuserwrapper .button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}
.createuserwrapper .button:hover {
  background-color: #468ED2;
  border: none;
}
.createuserwrapper .button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.createuserwrapper .button:focus {
  background-color: #468ED2;
  border: none;
}
.createuserwrapper .button:disabled {
  background-color: #468ED2;
  border: none;
}

.createplanwrapper {
  max-width: 40em;
  margin: 0 auto;
  padding-bottom: 1.5em;
}
.createplanwrapper .plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2em;
}
.createplanwrapper .plans .disabled-plan {
  opacity: 0.5 !important;
  cursor: not-allowed;
}
.createplanwrapper .plans article {
  max-height: 20em;
  height: 20em;
  max-width: 17em;
  background-color: white;
  font-size: 1em;
  padding: 1.2em;
}
.createplanwrapper .plans article h3 {
  font-size: 1.8em;
  font-weight: 900;
}
.createplanwrapper .plans article p {
  font-size: 0.8em;
}
.createplanwrapper .plans article p span {
  font-style: italic;
  font-weight: 600;
}

.signinuserform * {
  margin: 1em 0;
}
.signinuserform .redBorder {
  border: 1px solid red;
}
.signinuserform .error {
  color: rgb(255, 198, 198);
  font-size: 1.1em;
  font-weight: 700;
}

.signinuserwrapper {
  max-width: 30em;
  margin: 0 auto;
  padding: 4em 0 3em 0;
}
.signinuserwrapper .input {
  height: 3em;
}
.signinuserwrapper li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
  margin-left: -4em;
}
.signinuserwrapper li:hover {
  color: #EDEDED;
}
.signinuserwrapper h2 {
  font-size: 2em;
  color: #78BEFF;
  font-weight: 700;
}
.signinuserwrapper .button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
  margin-bottom: -0.1em;
}
.signinuserwrapper .button:hover {
  background-color: #468ED2;
  border: none;
}
.signinuserwrapper .button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.signinuserwrapper .button:focus {
  background-color: #468ED2;
  border: none;
}
.signinuserwrapper .button:disabled {
  background-color: #468ED2;
  border: none;
}

.createplanwrapper {
  max-width: 40em;
  margin: 0 auto;
}
.createplanwrapper .plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2em;
}
.createplanwrapper .plans article {
  max-height: 20em;
  height: 20em;
  max-width: 17em;
  background-color: white;
  font-size: 1em;
  padding: 1.2em;
}
.createplanwrapper .plans article h3 {
  font-size: 1.8em;
  font-weight: 900;
}
.createplanwrapper .plans article p {
  font-size: 0.8em;
}
.createplanwrapper .plans article p span {
  font-style: italic;
  font-weight: 600;
}

footer {
  height: 50vh;
  margin-top: 3em;
  padding: 5em 3em;
  border-top: solid 0.5px white;
}
footer .footer {
  color: #EDEDED;
}
footer .menu-link {
  color: white !important;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 200;
  transition: 0.2s;
}
footer .menu-link:hover {
  text-decoration: underline;
}

.homepage {
  padding-bottom: 15em;
}
.homepage h1 {
  font-size: 4em;
  color: #78BEFF;
  font-weight: 700;
}
.homepage h6 {
  font-size: 1.6em;
  color: #EDEDED;
  font-weight: 600;
}
.homepage span {
  font-size: 0.8em;
  color: #EDEDED;
  font-weight: 700;
}
.homepage li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.homepage li:hover {
  color: #EDEDED;
}

.newaccountingwrapper h2 {
  font-size: 2.5em;
  color: #78BEFF;
  font-weight: 700;
}
.newaccountingwrapper h5 {
  font-size: 1.5em;
  color: #EDEDED;
  font-weight: 700;
}
.newaccountingwrapper h6 {
  font-size: 1em;
  color: #EDEDED;
  font-weight: 700;
}
.newaccountingwrapper #check {
  margin: 0.9em 0 0 0.8em;
  color: #16d616 !important;
}
.newaccountingwrapper .button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}
.newaccountingwrapper .button:hover {
  background-color: #468ED2;
  border: none;
}
.newaccountingwrapper .button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.newaccountingwrapper .button:focus {
  background-color: #468ED2;
  border: none;
}
.newaccountingwrapper .button:disabled {
  background-color: #468ED2;
  border: none;
}

.newaccountingform {
  padding: 1em 0 2em 0;
}
.newaccountingform .input {
  height: 3em !important;
}
.newaccountingform .short {
  max-width: 30em;
  margin-bottom: 1em;
}
.newaccountingform li {
  color: #78BEFF;
  text-decoration: underline;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease;
}
.newaccountingform li:hover {
  color: #EDEDED;
}
.newaccountingform .accountings {
  display: flex;
  margin-bottom: 0.3em;
}

.allaccountingswrapper h2 {
  font-size: 2.5em;
  color: #78BEFF;
  font-weight: 700;
}
.allaccountingswrapper h5 {
  font-size: 1.5em;
  color: #EDEDED;
  font-weight: 700;
}
.allaccountingswrapper h6 {
  font-size: 1em;
  color: #EDEDED;
  font-weight: 700;
}

.allaccountingstable {
  color: #EDEDED;
}
.allaccountingstable .input {
  height: 3em !important;
  width: 25em !important;
}
.allaccountingstable .filter {
  height: 3.4em !important;
  width: 8em !important;
}
.allaccountingstable th {
  padding: 1em 1em 1em 0.5em;
  border-bottom: 0.5px white solid;
}
.allaccountingstable td {
  padding: 1em 1em 1em 0.5em;
}
.allaccountingstable #edit-button {
  background-color: #78BEFF;
  border: none;
  font-size: 1.2em;
}
.allaccountingstable #edit-button:hover {
  background-color: #468ED2;
  border: none;
}
.allaccountingstable #delete-button {
  background-color: rgb(255, 94, 94);
  border: none;
  font-size: 1.2em;
}
.allaccountingstable #delete-button:hover {
  background-color: rgb(250, 135, 135);
  border: none;
}

.sheetswrapper {
  color: #EDEDED;
}
.sheetswrapper h2 {
  font-size: 2.5em;
  color: #78BEFF;
  font-weight: 700;
}
.sheetswrapper h5 {
  font-size: 1.5em;
  color: #EDEDED;
  font-weight: 700;
}
.sheetswrapper h6 {
  font-style: italic;
  font-size: 1.2em;
  color: #78BEFF;
  font-weight: 700;
}
.sheetswrapper .button {
  background-color: #78BEFF;
  color: #EDEDED;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.4em 1.4em;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}
.sheetswrapper .button:hover {
  background-color: #468ED2;
  border: none;
}
.sheetswrapper .button:active {
  background-color: #468ED2;
  border: none;
  outline: #468ED2;
}
.sheetswrapper .button:focus {
  background-color: #468ED2;
  border: none;
}
.sheetswrapper .button:disabled {
  background-color: #468ED2;
  border: none;
}

#balancesheet {
  display: none;
}

.balance-sheet-container {
  width: 50%;
  margin: 0 auto;
}
.balance-sheet-container p {
  font-size: 0.9em;
  font-weight: 500;
  margin-left: 1em;
}
.balance-sheet-container span {
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.1em;
  margin-left: -1em;
}
.balance-sheet-container .hr {
  background-color: white;
}

#show-chatbot {
  display: none;
}

.chatbot {
  position: fixed;
  flex-direction: column;
  width: 24em;
  height: 36em;
  bottom: 6.2em;
  right: 4em;
  background-color: #EDEDED;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  /* Add a smooth box shadow */
  z-index: 3;
}
.chatbot .header-chatbot {
  background-color: #78BEFF;
  color: #EDEDED !important;
  padding: 1em 1em;
  height: 4em;
  font-size: 0.8em;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.chatbot .header-chatbot .close-chatbot {
  padding-right: 0.6em;
}
.chatbot .header-chatbot h6 {
  color: #EDEDED;
}
.chatbot .header-chatbot img {
  width: 2em;
  height: 2em;
}
.chatbot .main-chatbot {
  padding: 0.4em 0.7em;
  font-size: 0.8em;
  height: 37em;
  border-radius: 5px;
}
.chatbot .main-chatbot .button-ok-chatbot {
  width: fit-content;
  height: fit-content;
  padding: 0.4em 1.3em;
  background-color: white;
  color: #01172C;
  border: none;
  margin-top: 0.5em;
  transition: 0.2s;
  border-radius: 10px;
}
.chatbot .main-chatbot .button-ok-chatbot:hover {
  background-color: #78BEFF;
}
.chatbot .main-chatbot .intro-message {
  padding: 2em 0 0 0.5em;
}
.chatbot .main-chatbot .intro-message p {
  color: #01172C;
  font-size: 1em;
  background-color: rgb(224, 224, 224);
  color: #01172C;
  padding: 0.8em 1.2em;
  border-radius: 10px;
}
.chatbot .main-chatbot select {
  padding: 0.5em;
  margin-top: -0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
.chatbot .main-chatbot select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.chatbot .main-chatbot .selection-message {
  background-color: rgb(224, 224, 224);
  padding: 0.8em 1.2em;
  width: fit-content;
  border-radius: 10px;
}
.chatbot .main-chatbot .selection-message #selection {
  width: 18em;
}
.chatbot .main-chatbot .selection-message p {
  color: #01172C;
  font-size: 1em;
  color: #01172C;
}
.chatbot .main-chatbot .userinput-chatbot {
  position: relative;
  background-color: #78BEFF;
  float: right;
  height: 3.3em;
  margin-right: 3.5em;
  margin-top: 1.5em;
  padding: 0.8em 1.2em;
  width: fit-content;
  border-radius: 10px;
}
.chatbot .main-chatbot .userinput-chatbot p {
  color: #01172C;
  font-size: 1em;
  color: #01172C;
}
.chatbot .main-chatbot .respone-chatbot {
  position: relative;
  float: left;
  width: fit-content;
}
.chatbot .main-chatbot .respone-chatbot p {
  margin-top: 1.5em;
  max-width: 22em;
  padding: 1em 1.2em 1em 1.2em;
  background-color: rgb(224, 224, 224);
  color: #01172C;
  font-size: 1em;
  color: #01172C;
  border-radius: 10px;
}
.chatbot .main-chatbot .respone-chatbot img {
  margin-top: 1.5em;
}
.chatbot .main-chatbot #spinner {
  margin-top: 5em !important;
  margin-left: 12em;
}
.chatbot .main-chatbot #userinput {
  display: none;
}
.chatbot .main-chatbot img {
  width: 2em;
  height: 2em;
}
.chatbot .footer-chatbot {
  margin-top: auto;
  /* Push the footer to the bottom */
  padding: 0.8em 1.2em;
  font-size: 0.8em;
  height: 2.5em;
  border-top: 0.5px solid gray;
}
.chatbot .footer-chatbot h6 {
  color: gray;
  font-weight: 300;
  font-size: 1.1em;
  padding-top: 0.4em;
}

#button-openChatbot {
  position: fixed;
  bottom: 2em;
  right: 2em;
  font-size: 1.3em;
  font-weight: 600;
  padding: 0.4em 1em;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: 0.4s ease;
  background-color: #EDEDED;
}
#button-openChatbot:hover {
  background-color: #468ED2;
  border: none;
}
#button-openChatbot img {
  width: 1.6em;
  height: 1.6em;
}

.modal #modal-close-button {
  background-color: gray;
  border: none;
  transition: 0.2s;
}
.modal #modal-close-button:hover {
  background-color: #b3b3b3;
  border: none;
}
.modal #modal-save-button {
  background-color: #78BEFF;
  border: none;
  transition: 0.2s;
}
.modal #modal-save-button:hover {
  background-color: #468ED2;
  border: none;
}

.usersettingswrapper h2 {
  font-size: 2.5em;
  color: #78BEFF;
  font-weight: 700;
}
.usersettingswrapper h5 {
  font-size: 1.5em;
  color: #EDEDED;
  font-weight: 700;
}
.usersettingswrapper h6 {
  font-size: 1em;
  color: #EDEDED;
  font-weight: 700;
}

.usersettings {
  color: #EDEDED;
}
.usersettings .circle {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  /* Use your preferred background color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin: 1em 0em;
}
.usersettings .input {
  height: 3em !important;
}
.usersettings .short {
  max-width: 30em;
  margin-bottom: 1em;
}
.usersettings .button {
  background-color: #78BEFF;
  border: none;
  font-size: 1.2em;
}
.usersettings .button:hover {
  background-color: #468ED2;
  border: none;
}
.usersettings .delete-account-button {
  background-color: rgb(255, 94, 94);
  border: none;
  font-size: 1.2em;
}
.usersettings .delete-account-button:hover {
  background-color: rgb(250, 135, 135);
  border: none;
}
/*# sourceMappingURL=maps/main.css.map */
