
//colors
$primary-color: #7a1ada;
$secondary-color: #d1bae2;

$lightblue: #78BEFF;
$lightblue2: #035787;
$darkblue: #01172C;
$lightwhite: #EDEDED;



// MESSAGES
.error{
    font-weight: 600;
    color: red;
}