// main.scss

// Import base styles
@import 'components';
@import 'layout';

* {
    font-family: 'Assistant', sans-serif;
}

.gradient-container {
    background: linear-gradient(to bottom, $lightblue2, $darkblue);
    height: fit-content;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 236, 236);
}


//-------------
//HEADER
//-------------


.header {
    .logo {

        display: flex;
        align-items: center;

        img {
            width: 3.5em;
            height: 3.5em;
            margin-top: 0.5em;
            margin-right: 2em;
        }
    }

}



@media screen and (min-width: 992px) {



    header {


        .header {
            padding: 2em 7em;
        }

        .menu-link {
            padding: 0 1em;
            margin-top: 2.3em;
            list-style-type: none;
            font-size: 1.1em;
            font-weight: 700;
            color: white !important;
            text-decoration: none;
            // transition: 0.1s;

        }



        .menu-link .dropdown-item {
            color: white !important;
            /* Set your desired text color for dropdown items */

        }

        .menu-visible {
            display: block;
        }

        a {
            color: white;
            text-decoration: none;
            // transition: 0.1s;

            // &:hover {
            //     color: rgb(158, 158, 158);
            //     text-decoration: none;
            // }
        }
    }

    .dropdown {
        position: relative;
        margin-right: 2em;

        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
    }

    .dropdown-menu {
        display: none;
        margin-left: 0.3em;
        width: fit-content;
        position: absolute;
        top: 95%;
        // left: 0em;
        background-color: inherit;
        border: none;
        border-bottom: 0.5px solid $lightblue;
        z-index: 2;
    }

}





//-------------
//START PAGE
//-------------

.startpage {

    padding-bottom: 15em;

    h1 {
        font-size: 4em;
        color: $lightblue;
        font-weight: 700;
    }

    span {
        color: $lightwhite;
        font-weight: 700;

    }

    li {
        color: $lightblue;
        text-decoration: underline;
        list-style-type: none;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.4s ease;

        &:hover {
            color: $lightwhite;
        }
    }

    button {
        @include button-style;
    }
}

@media screen and (max-width: 992px) {
    .startpage {

        h1 {
            font-size: 3em;
        }
    }

}

@media screen and (max-width: 772px) {
    .startpage {

        h1 {
            font-size: 2.5em;
        }
    }

}





//-------------
//CREATE USER
//-------------
.createuserform {
    & * {
        margin: 1em 0;
    }

    .error {

        li {
            color: rgb(255, 198, 198) !important;
            text-decoration: none;
            font-style: none;
            font-size: 1.1em;
            font-weight: 700;
            margin-left: -2em;
        }

    }
}

// .button {
//     @include button-style;
// }

.createuserwrapper {
    max-width: 30em;
    margin: 0 auto;
    padding: 4em 0 0 0;

    .input {
        height: 3em;
    }

    li {
        color: $lightblue;
        text-decoration: underline;
        list-style-type: none;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.4s ease;


        &:hover {
            color: $lightwhite;
        }
    }

    h2 {
        font-size: 2em;
        color: $lightblue;
        font-weight: 700;
    }

    .button {
        @include button-style;
    }

}

.createplanwrapper {
    max-width: 40em;
    margin: 0 auto;
    padding-bottom: 1.5em;

    .plans {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.2em;

        .disabled-plan {
            opacity: 0.5 !important;
            cursor: not-allowed;
        }

        article {
            max-height: 20em;
            height: 20em;
            max-width: 17em;
            background-color: white;
            font-size: 1em;
            padding: 1.2em;

            h3 {
                font-size: 1.8em;
                font-weight: 900;

            }

            p {
                font-size: 0.8em;

                span {
                    font-style: italic;
                    font-weight: 600;
                }

            }

        }
    }
}



//-------------
//SIGN IN USER
//-------------
.signinuserform {
    & * {
        margin: 1em 0;
    }

    .redBorder {
        border: 1px solid red;
    }

    .error {
        color: rgb(255, 198, 198);
        font-size: 1.1em;
        font-weight: 700;
    }

}

.signinuserwrapper {
    max-width: 30em;
    margin: 0 auto;
    padding: 4em 0 3em 0;

    .input {
        height: 3em;
    }

    li {
        color: $lightblue;
        text-decoration: underline;
        list-style-type: none;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.4s ease;
        margin-left: -4em;

        &:hover {
            color: $lightwhite;
        }
    }

    h2 {
        font-size: 2em;
        color: $lightblue;
        font-weight: 700;
    }

    .button {
        @include button-style;
        margin-bottom: -0.1em;
    }

}

.createplanwrapper {
    max-width: 40em;
    margin: 0 auto;

    .plans {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.2em;

        article {
            max-height: 20em;
            height: 20em;
            max-width: 17em;
            background-color: white;
            font-size: 1em;
            padding: 1.2em;

            h3 {
                font-size: 1.8em;
                font-weight: 900;

            }

            p {
                font-size: 0.8em;

                span {
                    font-style: italic;
                    font-weight: 600;
                }

            }

        }
    }
}



//-------------
//FOOTER
//-------------
footer {
    height: 50vh;
    margin-top: 3em;
    padding: 5em 3em;
    border-top: solid 0.5px white;

    .footer {
        color: $lightwhite;
    }

    .menu-link {
        color: white !important;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 200;
        transition: 0.2s;

        &:hover {
            text-decoration: underline;
        }
    }
}


@media screen and (max-width: 772px) {
    footer {
        padding: 5em 1em;
        align-items: center !important;

        .menu-link {
            font-size: 0.9em;
            text-align: center;
        }
    }

    .footer-nav {
        text-align: center;
    }
}




//-------------
//HOME PAGE
//-------------

.homepage {

    padding-bottom: 5em;

    h1 {
        font-size: 4em;
        color: $lightblue;
        font-weight: 700;
    }

    h6 {
        font-size: 1.6em;
        color: $lightwhite;
        font-weight: 600;
    }

    span {
        font-size: 0.8em;
        color: $lightwhite;
        font-weight: 700;

    }

    li {
        color: $lightblue;
        text-decoration: underline;
        list-style-type: none;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.4s ease;

        &:hover {
            color: $lightwhite;
        }
    }


    .hr {
        background-color: white;
        margin: 4em 0;
    }

    .data-wrapper {

        margin: 4em 0;
        display: flex;
        justify-content: center;

        .data-box {
            color: $lightwhite;
            margin: 2em 4em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            p {
                font-size: 1.2em;
                font-weight: 700;
            }

            .circle {
                width: 100px;
                height: 100px;
                border: 1px solid $lightblue;
                /* Use your preferred background color */
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 35px;
                font-weight: bold;

            }
        }
    }


}


@media screen and (max-width: 772px) {
    .homepage {

        h1 {
            font-size: 2.7em;
        }

        h6 {
            font-size: 1.4em;
        }


        .data-wrapper {
            flex-direction: column;
            align-items: center;

        }
    }
}





//-------------
//NEW ACCOUNTING
//-------------

.newaccountingwrapper {
    h2 {
        font-size: 2.5em;
        color: $lightblue;
        font-weight: 700;
    }

    h5 {
        font-size: 1.5em;
        color: $lightwhite;
        font-weight: 700;
    }

    h6 {

        font-size: 1em;
        color: $lightwhite;
        font-weight: 700;
    }

    #check {
        margin: 0.9em 0 0 0.8em;
        color: #16d616 !important;
    }

    .button {
        @include button-style;
    }

}

.newaccountingform {

    // max-width: 30em;
    padding: 1em 0 2em 0;


    .input {
        height: 3em !important;
    }

    .short {
        max-width: 30em;
        margin-bottom: 1em;
    }

    li {
        color: $lightblue;
        text-decoration: underline;
        list-style-type: none;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.4s ease;


        &:hover {
            color: $lightwhite;
        }
    }

    // button {
    //     @include button-style;
    // }

    .accountings {
        display: flex;
        margin-bottom: 0.3em;
    }
}




//-------------
//ALL ACCOUNTING
//-------------

.allaccountingswrapper {
    h2 {
        font-size: 2.5em;
        color: $lightblue;
        font-weight: 700;
    }
}

.allaccountingstable {

    color: $lightwhite;

    .input {
        height: 3em !important;
        width: 25em !important;
    }

    .filter {
        height: 3.4em !important;
        width: 8em !important;
    }

    th {
        padding: 1em 1em 1em 0.5em;
        border-bottom: 0.5px white solid;
    }

    td {
        padding: 1em 1em 1em 0.5em;
        // border: 0.5px white solid;
    }

    #edit-button {
        background-color: $lightblue;
        border: none;
        font-size: 1.2em;

        &:hover {
            background-color: #468ED2;
            border: none;
        }

    }

    #delete-button {
        background-color: rgb(255, 94, 94);
        border: none;
        font-size: 1.2em;

        &:hover {
            background-color: rgb(250, 135, 135);
            border: none;
        }
    }

}

@media screen and (max-width: 992px) {

    .allaccountingstable {
        font-size: 0.8em;

        th {
            padding: 1em 1em 1em 0.5em;
        }

        td {
            padding: 0.75em 0.5em;
        }
    }
}





//-------------
// SHEETS
//-------------

.sheetswrapper {
    color: $lightwhite;

    h2 {
        font-size: 2.5em;
        color: $lightblue;
        font-weight: 700;
    }

    h5 {
        font-size: 1.5em;
        color: $lightwhite;
        font-weight: 700;

    }

    h6 {
        font-style: italic;
        font-size: 1.2em;
        color: $lightblue;
        font-weight: 700;
    }

    .button {
        @include button-style;
    }
}

#balancesheet {
    display: none;
}

.balance-sheet-container {
    width: 50%;
    margin: 0 auto;

    p {
        font-size: 0.9em;
        font-weight: 500;
        margin-left: 1em;
    }

    span {
        text-decoration: underline;
        font-weight: 700;
        font-size: 1.1em;
        margin-left: -1em;

    }

    .hr {
        background-color: white;
    }
}

@media screen and (max-width: 992px) {
    .balance-sheet-container {
        width: 80%;
    }
}





//-------------
// CHAT BOT
//-------------

#show-chatbot {
    display: none;
}

.chatbot {
    position: fixed;
    flex-direction: column;
    width: 24em;
    height: 36em;
    bottom: 6.2em;
    right: 4em;
    background-color: $lightwhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    /* Add a smooth box shadow */
    z-index: 3;



    .header-chatbot {
        background-color: $lightblue;
        color: $lightwhite !important;
        padding: 1em 1em;
        height: 4em;
        font-size: 0.8em;
        border: 1px solid #ebebeb;
        border-radius: 5px;

        .close-chatbot {
            padding-right: 0.6em;
        }

        h6 {
            color: $lightwhite;
        }

        img {
            width: 2em;
            height: 2em;
        }
    }

    .main-chatbot {
        padding: 0.4em 0.7em;
        font-size: 0.8em;
        height: 37em;
        border-radius: 5px;

        .button-ok-chatbot {
            width: fit-content;
            height: fit-content;
            padding: 0.4em 1.3em;
            background-color: white;
            color: $darkblue;
            border: none;
            margin-top: 0.5em;
            transition: 0.2s;
            border-radius: 10px;

            &:hover {
                background-color: $lightblue;
            }
        }

        .intro-message {
            padding: 2em 0 0 0.5em;

            p {
                color: $darkblue;
                font-size: 1em;
                background-color: rgb(224, 224, 224);
                color: $darkblue;
                padding: 0.8em 1.2em;
                border-radius: 10px;
            }
        }

        select {
            padding: 0.5em;
            margin-top: -0.5em;
            font-size: 1em;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            width: 100%;
        }

        select:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        .selection-message {
            background-color: rgb(224, 224, 224);
            padding: 0.8em 1.2em;
            width: fit-content;
            border-radius: 10px;

            #selection {
                width: 18em;
            }

            p {
                color: $darkblue;
                font-size: 1em;
                color: $darkblue;
            }
        }

        .userinput-chatbot {
            position: relative;
            background-color: $lightblue;
            float: right;
            height: 3.3em;
            margin-right: 3.5em;
            margin-top: 1.5em;
            padding: 0.8em 1.2em;
            width: fit-content;
            border-radius: 10px;

            p {
                color: $darkblue;
                font-size: 1em;
                color: $darkblue;
            }
        }

        .respone-chatbot {

            position: relative;
            float: left;
            width: fit-content;

            p {
                margin-top: 1.5em;
                max-width: 22em;
                padding: 1em 1.2em 1em 1.2em;
                background-color: rgb(224, 224, 224);
                color: $darkblue;
                font-size: 1em;
                color: $darkblue;
                border-radius: 10px;
            }

            img {
                margin-top: 1.5em;
            }

        }

        #spinner {
            margin-top: 5em !important;
            margin-left: 12em;
        }

        #userinput {
            display: none;
        }

        img {
            width: 2em;
            height: 2em;
        }

    }

    .footer-chatbot {
        margin-top: auto;
        /* Push the footer to the bottom */
        padding: 0.8em 1.2em;
        font-size: 0.8em;
        height: 2.5em;
        border-top: 0.5px solid gray;

        h6 {
            color: gray;
            font-weight: 300;
            font-size: 1.1em;
            padding-top: 0.4em
        }

    }
}

#button-openChatbot {
    position: fixed;
    bottom: 2em;
    right: 2em;
    font-size: 1.3em;
    font-weight: 600;
    padding: 0.4em 1em;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: 0.4s ease;
    background-color: $lightwhite;

    &:hover {
        background-color: #468ED2;
        border: none;
    }

    img {
        // margin-left: -0.65em;
        width: 1.6em;
        height: 1.6em;
    }
}






//-------------
// MODAL
//-------------

.modal {


    #modal-close-button {
        background-color: gray;
        border: none;
        transition: 0.2s;

        &:hover {
            background-color: #b3b3b3;
            border: none;
        }
    }

    #modal-save-button {
        background-color: $lightblue;
        border: none;
        transition: 0.2s;

        &:hover {
            background-color: #468ED2;
            border: none;
        }
    }

}




//-------------
// USER SETTINGS
//-------------


.usersettingswrapper {
    h2 {
        font-size: 2.5em;
        color: $lightblue;
        font-weight: 700;
    }

    h5 {
        font-size: 1.5em;
        color: $lightwhite;
        font-weight: 700;
    }

    h6 {
        font-size: 1em;
        color: $lightwhite;
        font-weight: 700;
    }

}

.usersettings {

    color: $lightwhite;

    .circle {
        width: 100px;
        height: 100px;
        background-color: #3498db;
        /* Use your preferred background color */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 35px;
        font-weight: bold;
        margin: 1em 0em;
    }

    .input {
        height: 3em !important;
    }

    .short {
        max-width: 30em;
        margin-bottom: 0.6em;
    }

    .button {
        background-color: $lightblue;
        border: none;
        font-size: 1.2em;

        &:hover {
            background-color: #468ED2;
            border: none;
        }
    }

    hr {
        max-width: 30em;
        margin-left: 0;
    }

    .delete-account-button {
        background-color: rgb(255, 94, 94);
        border: none;
        font-size: 1.2em;

        &:hover {
            background-color: rgb(250, 135, 135);
            border: none;
        }
    }
}




//-------------
// ALERT
//-------------

.alert-wrapper {
    position: fixed;
    width: fit-content;
    height: fit-content;
    padding: 1.3em 1.5em 1em 1.5em;
    bottom: 2em;
    left: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 1em;
    font-weight: 600;
    z-index: 3;
    transition: 0.5s ease;
}



//-------------
// CHART
//-------------
.chart-container{
    p{
        color: white;
    }

    h5 {
        font-size: 1.5em;
        color: $lightwhite;
        font-weight: 700;
    }
}